.prouct-maincontainer-display {
    width : 90%;
    height : 142%;  
    margin : 0 auto;
    position: relative;
    bottom : 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-display-column {
    width : 100%;
    height : 32%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-display-box {
    width : 28%;
    height : 100%;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product-display-img-desc {
    width :85%;
    height : 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-display-title {
    width : 100%;
    height : 50%;
    color : rgba(22, 19, 19, 0.877);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prudct-display-price-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}

.product-display-img {
    height : 100%;
    width : 100%;
    border-radius: 5px;
}

.product-display-img-container {
    width : 70%;
    height : 68%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
}

.product-display-img-container:hover {
    transform: translateY(-35px);  
    overflow: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.product-display-img-button-container {
    margin : 5px;
    display: flex;
    flex-direction: row;
    width : 100%;
    height : 14%;
    justify-content: center;
}

.buttons-product-display {
    margin : 5px;
    outline: none;
    border : none;
    background-color: lightskyblue;
    width : 40px;
    height : 30px;
    border-radius: 5px;
}
